@model DishViewModel
<h1>Modifica Piatto</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Modifica il nome del piatto">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Modifica la descrizione del piatto">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <select asp-for="Type" asp-items="@ViewBag.Tipologia" class="form-control">
            <option value="">Selezionare un'opzione...</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Price" placeholder="Modifica il prezzo del piatto">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MenuId" class="form-label"></label>
        <input type="text" class="form-control" asp-for="MenuId" readonly>
        <span asp-validation-for="MenuId" class="text-danger"></span>
    </div>

    <input type="submit" value="Inserisci" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-danger" />
    <a class="btn btn-primary" asp-action="Index" role="button">Back</a>
</form>